/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:rgba(67, 68, 85, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    display: block;
}

a:hover,
a:focus {
    color: rgba(64, 75, 191, 1);
    text-decoration: underline;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: var(--navyblue, #2E2F42);
    margin:0;
}

h1 {
    color: var(--white, #FFF);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.28px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}

address {
    font-style: normal;
}

button {
    background-color: rgba(77, 90, 229, 1);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

button:hover,
button:focus {
    background-color: rgba(64, 75, 191, 1);
}

img {
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
}

header {
    padding: 24px 156px 24px 156px;
    border: 1px solid rgba(231, 233, 252, 1);
}

section {
    padding: 120px;
}

/* Header */
/* Navigation bar */

.logo-text {
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-span {
    color:rgba(46, 47, 66, 1);
}

.navigation-links {
    color: #2e2f42;
    font-weight: 500;
}

.navigation-bar {
    display: flex;
    align-items: center;
    column-gap: 76px;
}

.navigation-list {
    display: flex;
    column-gap: 40px;
}

.address-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.address-bar {
    display: flex;
    align-items: center;
}

.address-links {
    white-space: nowrap;
}
/* Main */
/* First section */

.first-section {
    background-color: rgba(46, 47, 66, 1);
    display: flex;
    flex-direction: column;
    padding: 188px 472px;
    align-items: center;
    row-gap: 48px;
}

.order-service-button {
    padding: 16px 32px;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
}

/* Third section */

.third-section {
    background-color: rgba(244, 244, 253, 1);
}

.third-section-list {
    background-color:#FFF ;
}

/* Footer section */

.footer-section {
    background-color: rgba(46, 47, 66, 1);
}
.footer-text {
    color:rgba(244, 244, 253, 1);
}

.logo-span-footer {
    color:rgba(244, 244, 253, 1);
}